.pagination {
  display: flex;
  justify-content: center;
}

header {
  top: 0;
  position: sticky;
  background-color: #fff;
  z-index: 1;
}

button:focus {
  outline: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.not-found {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-stats {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  color: #999;
}

.profile-stats li + li::before {
  content: "\00b7";
  margin: 0 0.5rem;
}
